<!doctype html>
<html>
<head>
    <title>Perspective</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div data-role="page">
 
        <div data-role="header">
            <a href="../../" data-icon="home">Home</a>
						<h1>Perspective</h1>
        </div><!-- /header -->
 
        <div data-role="content">
            <h1>Please Select a Category</h1>
						<form>
						    <a href="../news"><input type="button" data-shadow="false" value="Current Events"></a>
								<a href="../sports"><input type="button" data-shadow="false" value="Sports"></a>
								<a href="../finance"><input type="button" data-shadow="false" value="Finance"></a>
						</form>
        </div><!-- /content -->
 
		    <div data-role="footer" data-position="fixed">
		        <div data-role="navbar">
		            <ul>
		                <li><a href="../news" data-icon="search">News</a></li>
		                <li><a href="../sports" data-icon="star">Sports</a></li>
		                <li><a href="../finance" data-icon="check">Finance</a></li>
		            </ul>
		        </div><!-- /navbar -->
				</div><!-- /footer -->

    </div><!-- /page -->
</body>
</html>
