<!doctype html>
<html>
<head>
    <title>Perspective | Sports </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div data-role="page">
 
        <div data-role="header">
						<a href="../../" data-icon="home">Home</a>
            <h1>Sports</h1>
        </div><!-- /header -->
 
        <div data-role="content">
            <form>
						    <input type="button" data-shadow="false" value="All Blacks vs. Wallabies">
								<input type="button" data-shadow="false" value="">
								<input type="button" data-shadow="false" value="">
								<input type="button" data-shadow="false" value="">
						</form>
        </div><!-- /content -->
 
		    <div data-role="footer" data-position="fixed">
		        <div data-role="navbar">
		            <ul>
		                <li><a href="../news" data-icon="search">News</a></li>
		                <li><a href="../sports" data-icon="star" class="ui-btn-active">Sports</a></li>
		                <li><a href="../finance" data-icon="check">Finance</a></li>
		            </ul>
		        </div><!-- /navbar -->
				</div><!-- /footer -->
    </div><!-- /page -->
</body>
</html>