<!doctype html>
<html>
<head>
    <title>Perspective | News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div data-role="page">
 
        <div data-role="header">
	        	<a href="../../" data-icon="home">Home</a>
            <h1>Articles</h1>
        </div><!-- /header -->
 
        <div data-role="content">
            <!--form action="/news/articles">
                <%#= submit_tag "China", "data-shadow" => "false" %>
                <%#= submit_tag "Hong Kong", "data-shadow" => "false" %>
						</form-->
						<ul data-role="listview" data-inset="true">
						  <%#= form_tag "/news/analysis", :method => "post" do %>
						   <% @articles.each do |item| %>
                <li>
                  <% sentiment = sentiment_analysis(item['url']).values %>
                  <% str = [item['title'].truncate(100), sentiment.first].join(" <> ") %>
                  <a href="/news/analysis?src=<%= item['url'].try(:split, '&format').try(:first) %>">
                    <%= item['title'].truncate(100) %>
                    &nbsp;<>&nbsp;
                    <span style="<%= sentiment.first == 'negative' ? 'color:red;' : (sentiment.first == 'neutral' ? 'color:orange;' : (sentiment.first == 'positive' ? 'color:green' : '')) %>"><%= sentiment.first %></span>
                  </a>
                  <%#= hidden_field_tag "src", item['url'] %>
                  <%#= submit_tag str, :name => "but", :style => "text-align:left;"  %>
                 </li>
               <% end %> 
              <%# end %>  
            </ul>
        </div><!-- /content -->
 
		    <div data-role="footer" data-position="fixed">
		        <div data-role="navbar">
		            <ul>
		                <li><a href="../news" data-icon="search" class="ui-btn-active">News</a></li>
		                <li><a href="../sports" data-icon="star">Sports</a></li>
		                <li><a href="../finance" data-icon="check">Finance</a></li>
		            </ul>
		        </div><!-- /navbar -->
				</div><!-- /footer -->

    </div><!-- /page -->
</body>
</html>
