<!doctype html>
<html>
<head>
    <title>Perspective | News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div data-role="page">
 
        <div data-role="header">
	        	<a href="../../" data-icon="home">Home</a>
            <h1>News</h1>
        </div><!-- /header -->
 
        <div data-role="content">
            <form>
						    <input type="button" data-shadow="false" value="Hong Kong Protests">
								<input type="button" data-shadow="false" value="Ebola Epidemic">
								<input type="button" data-shadow="false" value="Ukraine Crisis">
								<input type="button" data-shadow="false" value="Apple v. Samsung">
						</form>
        </div><!-- /content -->
 
		    <div data-role="footer">
		        <div data-role="navbar">
		            <ul>
		                <li><a href="../news" data-icon="grid" class="ui-btn-active">News</a></li>
		                <li><a href="../sports" data-icon="star">Sports</a></li>
		                <li><a href="../finance" data-icon="gear">Finance</a></li>
		            </ul>
		        </div><!-- /navbar -->
				</div><!-- /footer -->

    </div><!-- /page -->
</body>
</html>