<!doctype html>
<html>
<head>
    <title>Perspective | Finance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div data-role="page">
 
        <div data-role="header">
            <a href="../../" data-icon="home">Home</a>
            <h1>Finance</h1>
        </div><!-- /header -->
 
        <div data-role="content">
            <form>
						    <input type="button" data-shadow="false" value="US Markets">
								<input type="button" data-shadow="false" value="Japanese Markets">
								<input type="button" data-shadow="false" value="Worldwide">
						</form>
        </div><!-- /content -->
 
		    <div data-role="footer" data-position="fixed">
		        <div data-role="navbar">
		            <ul>
		                <li><a href="../news" data-icon="search">News</a></li>
		                <li><a href="../sports" data-icon="star">Sports</a></li>
		                <li><a href="../finance" data-icon="check" class="ui-btn-active">Finance</a></li>
		            </ul>
		        </div><!-- /navbar -->
				</div><!-- /footer -->

    </div><!-- /page -->
</body>
</html>